/*--------------colors-----------*/

$primary-color: #daa520;
$secondary-color: #333d4a;
$white-color: #fff;
$gold-color: #ffd700;
$grey-color: #808080;
$headline-color: #696969;
$border-color: #4c5b6c;

@mixin flexBox($width, $display) {
  width: $width;
  display: $display;
}
