.container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 2rem 4rem;

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
  }
}

.card {
  border: 2px solid #333d4a;
  padding: 4px;
  border-radius: 6px;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 1em gold;

  @media screen and (max-width: 768px) {
    flex: 0 0 auto;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #696969;

  span {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color: #daa520;
    font-size: 1.4rem;
  }

  p {
    padding: 5px 0;
    font-size: 1rem;
    color: #333d4a;
  }
}

.details {
  width: 100%;
  padding: 6px;
  margin: 10px 0;
  border: none;
  background: #daa520;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
