@import '../../styles/conf';

.container {
  display: flex;
  background: $primary-color;
  border-radius: 4px;
}

.title {
  align-items: center;
  padding: 10px;
  color: $secondary-color;
  font-weight: 600;
  @include flexBox(100%, flex);

  h1 {
    margin: 3px 16px;
    font-size: 30px;
    margin: 0 auto;
    color: $white-color;
  }

  a {
    margin: 3px 16px;

    &:hover {
      color: $white-color;
    }
  }
}
